// 颜色定义规范
$green = #1abc9c
$dark-green =#27ae60
$red = #e74c3c
$white = #fff
$black = #222
$grey3 = #333
$grey2 = #666
$grey1 = #999

//字体定义规范
$font-s = 12px
$font-sl = 14px
$font-m = 16px
$font-l = 18px
$font-xl = 22px